.header-logo {
    margin-left: 1em;

    &--link {
        display: flex;
        align-items: center;

        .header-logo__img {
            height: 50px;
            width: 50px;
            border-radius: 20px;
            margin-right: 0.8em;

            @media screen and (min-width: $breakpoint-large) {
                height: 50px;
            }
        }

        .header-logo--brand {
            font-size: 16px;
            font-weight: bold;
            color: $dark-orange;

            @media screen and (min-width: $breakpoint-large) {
                font-size: 16px;
            }
        }
    }

}