vendor/
wp/
wp-config.php
README.md
content/*
!/content/themes/
/content/themes/*
!/content/themes/zumba-christele
/content/themes/zumba-christele/node_modules/
/content/themes/zumba-christele/public/
!content/index.php
