* {
    box-sizing: border-box;
}

body {

    scroll-behavior: smooth;
    
    &.menu-visible {

        .wrapper {
            filter: blur(3px)
        }

        .menu {
            visibility: visible;
        }
    }
    &.form-visible{
        
        .form {
            visibility: visible;
        }
    }
}

a {
    text-decoration: none;
    color: $white;
}