/* Couleurs du site */

$light-orange: #ffcb8b;
$dark-orange:#f88f01;
$fuschia: #E1315B;
$lemon: #FFEC5C;
$blue: #008DCB;
$black: black;
$white: white; 
$light-grey: #B0B0B0;
$dark-grey: #333333;

/* Font */ 

$font-size: 16px;
$font-size-medium: 18px; 
$font-size-large: 20px;

$font-family: 'Montserrat', sans-serif;
$font-family-fallback: 'Helvetica, Arial', sans-serif;
$font-family-apo: "Hachi Maru Pop";
$font-family-first: "Yusei Magic";
$font-family-second: "Oswald";

/* Breakpoint */

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

/* Duration */

$duration-slow: 0.9s;
$duration-medium: 0.5s;
$duration-fast: 0.3s; 



